@import url(lib/normalize.7.0.0.css);
.hide-on-desktop,
.responsive-only,
.tablet-only,
.mobile-only {
  display: none !important; }

.desktop-only,
.hide-on-responsive,
.hide-on-tablet,
.hide-on-mobile {
  display: inherit; }

@media only screen and (max-width: 1023px) {
  .responsive-only,
  .tablet-only {
    display: block !important; }
  .desktop-only,
  .hide-on-responsive,
  .hide-on-tablet {
    display: none !important; } }

@media only screen and (max-width: 767px) {
  .responsive-only,
  .mobile-only {
    display: block !important; }
  .desktop-only,
  .hide-on-responsive,
  .hide-on-mobile {
    display: none !important; } }

.row:before, .wrapper:before, .row:after, .wrapper:after {
  content: ' ';
  display: table; }

.row:after, .wrapper:after {
  clear: both; }

body {
  padding: 40px;
  background-color: #fafafa; }

.row {
  width: 100%;
  clear: both; }

.wrapper {
  width: 100%;
  max-width: 1264px;
  padding-left: 32px;
  padding-right: 32px;
  margin-right: auto;
  margin-left: auto;
  clear: both; }
