/**

@accordion
--------------------------------------------------------*/



.accordion {
  margin: 40px 0;

  // Accorcion Section
  &__section {
    background-color: $color-white;
    border: 1px solid $color-extra-light-gray-3;
    margin-bottom: 24px;
    position: relative;
   
    @include media($mobile) {
     margin-bottom: 10px;
    }

    &.open {
      .accordion {
        &__content {
          max-height: 10000px;
          position: relative;
          z-index: 10;
          transition-duration: 2s;
        }

        &__icon {
          @include transform(rotate(180deg));
        }
      }
    }
  }

  // Accorcion Content
  &__content {
    display: block;
    padding: 0 30px;
    transition-duration: 0.5s;
    max-height: 0;
    overflow: hidden;

  }

  // Accorcion Header  
  &__header {
    @include grid($justify-content: space-between);
    cursor: pointer;
    padding: 30px;

    @include media($mobile) {
     padding: 10px 20px;
    }
  }

  // Accorcion Title
  &__title {
    @extend %roboto-slab--bold;
    color: $color-light-blue;
    font-size: $font-xxxl;
    line-height: 38px;
    margin: 0;

    @include media($mobile) {
     font-size: $font-xxl;
    }    

    :hover {
      color: $color-medium-blue;
    }

    span {
      margin-left: 20px;
    }
  }

  // Accorcion Icon
  &__icon {
    @include transition($duration: 0.2s);
    width: 18px;
  }

  // Accorcion Subtitle
  &__subtitle {
    background-color: $color-red;
    color: $color-white;
    font-size: $font-s;
    line-height: 14px;
    letter-spacing: 1.52px;
    padding: 8px 30px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;

    @include media($mobile) {
     padding: 4px 10px;
    }      
  }
}

