/**

@select-box
--------------------------------------------------------*/



.select-boxes__container {
  @include grid;
  padding: 0 12px;

  @include media($tablet) {
    @include grid ($flex-direction: column);
  }
}

.select-box {
  @include grid();
  @include grid-col($gutter: 12px, $flex-basis: 100%);

    @include media($tablet) {
      @include grid-col($flex-basis: auto);
    }
  
  // Select-box Container
  &__container {
    @include grid($flex-direction: column);    
    @include transition($duration: 0.2s);
    border: 1px solid $color-extra-light-blue;
    background-color: $color-white;
    border-radius: 2px;
    cursor: pointer;
    overflow: hidden;
    padding: 20px 18px;

    @include media($tablet) {
      @include grid($flex-direction: row);
      @include grid-col($flex-grow: 1);
    }

    @include media($mobile) {
      @include grid($flex-direction: column);
    }

    &:hover {
      border-color: $color-medium-blue-2;

      .select-box {
        &__button {
          border-color: $color-medium-blue-2;

          .radio__label {
            color: $color-dark-blue-2;
          }
        }
      }
    }

    &.selected {
      border-color: $color-medium-blue-2;

      .select-box__button {
        border-color: $color-medium-blue-2;
      }
    }
  }

  // Select-box Content
  &__content {
    margin-bottom: 45px;

    @include media($tablet) {
      @include grid-col($flex-grow: 1);
      margin-bottom: 0;
      padding-right: 20px;
    }
    @include media($mobile) {
      margin-bottom: 20px;
      padding-right: 0;
    }
  }  

  // Select-box Title
  &__title {
    @extend %roboto--bold;
    color: $color-blue;
    font-size: $font-xl;
    line-height: 16px;
    padding-bottom: 24px;
    position: relative;
    text-align: center;

    @include media($tablet) {
      padding-bottom: 20px;
      padding-top: 10px;
      text-align: left;    
    }

    @include media($mobile) {
      padding-top: 0;
      text-align: center;
      text-transform: uppercase
    }    

    &::before {
      content: '';
      background-color: $color-extra-light-blue;
      bottom: 0;
      height: 2px;
      left: 50%;
      margin-left: -36px;
      position: absolute;
      width: 72px;

      @include media($tablet) {
        left: 0;
        margin-left: 0;
        width: 100%;
      }
    }
  }

  // Select-box List
  &__list {
    color: $color-extra-light-gray-4;
    list-style-type: disc;
    padding-left: 5px;

    @include media($tablet) {
      margin-left: 10px;
    }

    span {
      color: $color-extra-dark-blue;
      display: block;
      font-size: $font-l;
      line-height: 25px;
    }
  }

  // Select-box button
  &__button {
    @include grid($align-items: center);
    @include transition($duration: 0.2s);
    background-color: rgba(222,225,232,0.38);
    border: 1px solid transparent;
    margin-top: auto;
    padding: 14px;

    @include media($tablet) {
      margin-top: 0;
      margin-bottom: auto;
    }

    @include media($mobile) {
      @include grid($justify-content: center);
    }

    .radio__label {
      @include transition($duration: 0.2s);
      color: $color-light-gray;
      font-size: $font-xl;
      line-height: 16px; 
      margin-left: 15px;
    }
  }

  &__input:checked {

    +.radio__label {
      color: $color-dark-blue-2;
    }
  }
}
