/**

@mixins
--------------------------------------------------------*/



/*--------------------------------------------------------

@mixin clearfix

--------------------------------------------------------*/

@mixin clearfix() {
  zoom: 1;
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: " ";
    clear: both;
    display: table;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
}
// @include clearfix



/*--------------------------------------------------------

@mixin fonts-size

--------------------------------------------------------*/

@mixin font-size($size) {
  font-size: $size;
  font-size: rem($size);
}
// @include font-size(16px);



/*--------------------------------------------------------

@mixin transition

--------------------------------------------------------*/

@mixin transition($delay: null, $duration: null, $property: null, $timing-function: null) {

  @if $delay {
    transition-delay: $delay;
  }

  @if $duration {
    transition-duration: $duration;
  }

  @if $property {
    transition-property: $property;
  }

  @if $timing-function {
    transition-timing-function: $timing-function;
  }
}
// @include transition($delay:2s);



/*--------------------------------------------------------

@mixin media

--------------------------------------------------------*/

@mixin media($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}
//@include media($mobile)