/**

@vars
--------------------------------------------------------*/



/*--------------------------------------------------------

@sizes vars

--------------------------------------------------------*/

$base-unit: 12;
$base-size: 14px;



/*--------------------------------------------------------

@tipography vars

--------------------------------------------------------*/

// Font-family
$roboto: 'Roboto', sans-serif;
$roboto-slab: 'Roboto Slab', sans-serif;


// Font-size
$font-s: 12px;
$font-m: 14px;
$font-l: 15px;
$font-xl: 16px;
$font-xxl: 18px;
$font-xxxl: 24px;


// Font-weigth
$text-regular: 400;
$text-bold: 700;



/*--------------------------------------------------------

@colors vars

--------------------------------------------------------*/

// Colors
$color-white: #FFFFFF;
$color-extra-light-gray: #fafafa;
$color-extra-light-gray-2: #f9f9f9;
$color-extra-light-gray-3: #DEE1E8;
$color-extra-light-gray-4: #9DA2A9;
$color-extra-light-gray-5: #8B9199;
$color-light-gray: #64676c;
$color-gray: #4e5156;
$color-black: #000000;

$color-extra-light-blue: #c9e3f9;
$color-light-blue: #4ba7ee; 
$color-medium-blue: #3b95ed; 
$color-medium-blue-2: #326C96;
$color-blue: #105aa3; 
$color-dark-blue: #003970;
$color-dark-blue-2: #033970;
$color-extra-dark-blue: #001841;

$color-yellow: #fac937;
$color-red: #e82e34;
$color-green: #6DC138;


// Base colors
$color-primary: $color-gray;
$color-secondary: $color-light-gray; 


// Text colors
$text-color: $color-primary;




/*--------------------------------------------------------

@madiaquery vars

--------------------------------------------------------*/

$mobile: 767px;
$tablet: 1023px;
$small-desktop:  1024px;
$medium-desktop: 1264px;
