/**

@helper-classes
--------------------------------------------------------*/



/*--------------------------------------------------------

@responsive

--------------------------------------------------------*/

// Desktop
.hide-on-desktop,
.responsive-only,
.tablet-only,
.mobile-only {
  display: none !important;
}
.desktop-only,
.hide-on-responsive,
.hide-on-tablet,
.hide-on-mobile {
  display: inherit;
}

// Tablet
@media only screen and (max-width: $tablet) {
  .responsive-only,
  .tablet-only {
    display: block !important;
  }
  .desktop-only,
  .hide-on-responsive,
  .hide-on-tablet {
    display: none !important;
  }
}

// Mobile
@media only screen and (max-width: $mobile) {
  .responsive-only,
  .mobile-only {
    display: block !important;
  }
  .desktop-only,
  .hide-on-responsive,
  .hide-on-mobile {
    display: none !important;
  }
}



/*--------------------------------------------------------

@estructura

--------------------------------------------------------*/

// Margin
.margin {
  @for $i from 0 through 8 {
    $value: $i;

    &-t-#{$i} {
      margin-top: (($i) * .5px * $base-unit);
    } // .margin-t-1, .margin-t-2, .margin-t-3, .margin-t-4...

    &-r-#{$i} {
      margin-right: (($i) * .5px * $base-unit);
    } // .margin-r-1, .margin-r-2, .margin-r-3, .margin-r-4...

    &-b-#{$i} {
      margin-bottom: (($i) * .5px * $base-unit);
    } // .margin-b-1, .margin-b-2, .margin-b-3, .margin-b-4...

    &-l-#{$i} {
      margin-left: (($i) * .5px * $base-unit);
    } // .margin-l-1, .margin-l-2, .margin-l-3, .margin-l-4...

    &-set-#{$i} {
      margin: (($i) * .5px * $base-unit);
    } // .margin-set-1, .margin-set-2, .margin-set-3, .margin-set-4...
  }

  &-no {
    margin: 0;
  } // .margin-no

  &-auto {
    margin: 0 auto;

    &-t {
      margin-top: auto;
    } // .margin-auto-t

    &-r {
      margin-right: auto;
    } // .margin-auto-r

    &-b {
      margin-bottom: auto;
    } // .margin-auto-b


    &-l {
      margin-left: auto;
    } // .margin-auto-l
  } 
}


// Padding
.padding {
  @for $i from 0 through 8 {
    $value: $i;

    &-t-#{$i} {
      padding-top: (($i) * .5px * $base-unit);
    } // .padding-t-1, .padding-t-2, .padding-t-3, .padding-t-4...

    &-r-#{$i} {
      padding-right: (($i) * .5px * $base-unit);
    } // .padding-r-1, .padding-r-2, .padding-r-3, .padding-r-4...

    &-b-#{$i} {
      padding-bottom: (($i) * .5px * $base-unit);
    } // .padding-b-1, .padding-b-2, .padding-b-3, .padding-b-4...

    &-l-#{$i} {
      padding-left: (($i) * .5px * $base-unit);
    } // .padding-l-1, .padding-l-2, .padding-l-3, .padding-l-4...

    &-set-#{$i} {
      padding: (($i) * .5px * $base-unit);
    } // .padding-set-1, .padding-set-2, .padding-set-3, .padding-set-4...
  }

  &-no {
    padding: 0;
  } // .padding-no
}
