/**

@body
--------------------------------------------------------*/



body {
  @extend %roboto;
  @include font-size($font-m);
  background: $color-extra-light-gray;
  color: $text-color;
  font-size: 14px;

  @include media($mobile){
  	font-size: 90%;
  }
}