/**

@layout
--------------------------------------------------------*/

.row {
  @include clearfix;
  width: 100%;
  clear: both;
}

.wrapper {
  @include clearfix;
  width: 100%;
  max-width: $medium-desktop;
  padding-left: 32px;
  padding-right: 32px;
  margin-right: auto;
  margin-left: auto;
  clear: both;
}