/**

@layout
--------------------------------------------------------*/



.row {
  @include clearfix;
  clear: both;
  width: 100%;
}

.wrapper {
  @include clearfix;
  clear: both;
  max-width: $medium-desktop;
  padding: 0 32px;
  margin: 0 auto;
  width: 100%;
}



/*--------------------------------------------------------

@grid

--------------------------------------------------------*/
.grid {
    @include grid();

    @for $i from 1 through 12 {  
      $value: $i;
      
      &__col-#{$i} {
        @include grid-col($i);
      }
    }
}