/**

@tipography
--------------------------------------------------------*/



h1 {
  @extend %roboto-slab;
  @include font-size($font-xxxl);
  color: $color-dark-blue;
  line-height: 38px;
  margin-bottom: $base-unit * 4px;
}

h2 {
  @extend %roboto-slab;
  @include font-size($font-xxl);
  color: $color-dark-blue-2;
  line-height: 24px;
  margin-bottom: $base-unit * 1px;
}

h3 {
  @extend %roboto-slab;
  @include font-size($font-m);
  color: $color-medium-blue;
  line-height: 19px;
  margin-bottom: $base-unit * 1px;
}

p {
  @extend %roboto;
  @include font-size($font-m);
  color: $text-color;
  line-height: 20px;
  margin-bottom: 0.5em;
}

b,
strong {
  font-weight: $text-bold;
}

i,
em {
  font-style: italic;
}